@charset "UTF-8";

$color-snow: #fff;
$color-stone-aztec: #0a1419; //$black
$color-stone-outer-space: #2d373c; //$color-black1
$color-stone-dark: #3c464b; //$color-black2
$color-stone-shuttle-gray: #555f69; //$color-black3
$color-stone-pale-sky: #697882; //$color-black4

$color-stone-slate-gray: #788791; //$color-grey-darkest
$color-stone-light: #879baa; //$color-grey-dark
$color-stone-geyser: #cdd9e1; //$color-grey
$color-stone-mystic: #dfe6ed; //$color-grey-light
$color-stone-castkill-white: #ebf0f5; //$color-grey-lightest

$color-blue-prussian: #003750; //$color-green-darkest
$color-blue-dark-orient: #005578; //$color-green-dark
$color-blue-orient: #006487; //$color-green-light
$color-blue-eastern: #2387aa; //$color-green-lightest

$color-yellow-darke: #eb780a; //$color-orange
$color-yellow-sun: #faa50a; //$color-yellow

/** $color-yellow-light: #ffb900; **/
$color-sand-pampas: #f5f5f0; //$color-beige
$color-sand-light35: #d7d7cd; //$color-dark-beige

$color-teal-blue-chill: #0f8287;

$color-petrol-gradient-1: #50bebe;
$color-petrol-gradient-2: #099;
$color-petrol-gradient-3: #0099b0;
$color-petrol-gradient-4: #0099cb;

/** Still pending of revision **/
$color-grey-alternative: #becdd7;
$color-inactive: #9bafbe;
$color-petrol-light: #50bed7;
$color-petrol: #099;

$color-accent-green: #32a0a0;
$color-accent-green-dark: #239196;
$color-accent-red: #c34673;
$color-accent-red-dark: #af235f;
$color-accent-yellow: #faa50a;
$color-accent-yellow-dark: #f58c14;

/** Ending of revision **/