@charset "UTF-8";
@import './colors.scss';

$f-siemenes-sans-roman: ('Siemens Sans Roman', Arial, sans-serif);
$f-siemens-sans-black: ('Siemens Sans Black', serif);
$f-siemenes-sans-bold: ('Siemens Sans Bold', Arial, sans-serif);